# Package specific directories
site/
examples/output/
examples/processed/

# Virtual environment
venv/
env/
.venv/
.venv310/

# Compiled Python bytecode
__pycache__/
*.pyc
*.egg-info

# IDE/Editor specific files
.vscode/
.idea/
.DS_Store

# Log files
*.log

# Generated audio test outputs
test_output*.wav
test_cli_output*.wav